# MONGODB_URI = DB_PATH
# NEXTAUTH_SECRET = YOUR_SECRET
# NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT = YOUR_ENDPOINT
# NEXT_PUBLIC_IMAGEKIT_PUBLIC_KEY = YOUR_PUBLIC_KEY
# NEXT_IMAGEKIT_PRIVATE_KEY = YOUR_PRIVATE_KEY
